<h1>Cadastro de usuário</h1>
<form class="form" action="/user/insertuser" method="post">
    <div class="form-control">
        <label for="name">Nome:</label>
        <input type="text" name="name" placeholder="Digite o nome">

        <label for="cpf">CPF:</label>
        <input type="text" name="cpf" placeholder="Digite o CPF">
        
        <label for="adress">Endereço:</label>
        <input type="text" name="adress" placeholder="Digite o endereço">
    </div>
    <input type="submit" value="Cadastrar">
</form>